body {
    margin: 0;
    padding: 0;
}

.App {
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

table {
    width: 100%;
}
tr.active {
    background-color: #ddffdd;
}

button {
    min-width: 24px;
}

@media print {
    .App {
        grid-template-columns: 1fr;
    }
    table {
        width: auto;
    }
    .noprint {
        display: none;
    }
}

table td {
    border-bottom: solid 1px lightgray;
}

tr:hover{
    background-color: lightblue;
}
